div{
    font-family: initial;
}
span{
    font-style: italic;
}
.body{
    background-color: hotpink;
}

.rodap{
    position: fixed;
    bottom: 0;                               /*Fixa na parte de baixo*/
    left: 0;                                 /*Inicia no canto esquerdo*/
    width: 100%;                             /*Ocupa toda a largura da tela*/
    background-color: rgb(224, 58, 122);
    color: black;
    text-align: center;
    padding: 5px 0;
}

.pinkdeluxo{
    background-color: beige;
    margin: 0;
    font-family: unset;
}

.proc{
    display: flex;
    justify-content: center;
}

.cont{
    text-align: center;
    margin-left: 220px;
    padding: 20px;
}

.ls{
    text-align: center;
    margin-left: 220px;
    padding: 20px;
}
.menu{
    width: 200px;
    background-color: ;
    padding-top: 20px;
    height:100vh ;
    position:fixed ;
    top: 0;
    left: 0;

}
.menu a{
    color: rgb(168, 80, 146);
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    border-bottom: 1px 10px;
}
    

.menu a:hover{
    background-color: black;
}


