header{
    font-family: unset;
    font-size: x-large;
    font-weight: 200;
    font-style: oblique;
    text-align: center;
    color: crimson;
    line-height: 10%;
    background-color: beige;
}
.rosa{
    background-image: url(rosa.jpg);
    background-size: 90% ;
}
h2{
font-family: initial;
text-align: center;
color: crimson;
}
.caixa1{
    border: 3px solid black;
    margin:20px ;
    background-color: rgb(250, 186, 218);
    text-align: center;
    padding: 20px;
    border-radius: 500px;
}
    
.caixa2{
    border: 3px dashed;
    border-radius: 100px;
    background-color: rgb(128, 87, 107);
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: center;
    padding: 20px;

}
#titulo{
    text-align: center;
}
.exibiçao-block{
    display: block;
    background-color: dimgrey;
    margin-bottom: 10px;
}
.exibiçao-inline{
    display: inline;
    background-color: rgb(185, 116, 185);
    margin-right: 10px;
}
.exibicao-inline-block{
    display: inline-block;
    background-color: rgb(161, 105, 161);
    
}
.overflow-visible{
    width: 300px;
    height: 60px;
    background-color: dimgray;
    margin-bottom: 10px;
    overflow: visible;
}
.overflow-hidden{
    width: 300px;
    height: 60px;
    background-color: rgb(223, 120, 175);
    margin-bottom: 10px;
    overflow: hidden;
}
.overflow-scroll{
    width: 300px;
    height: 60px;
    background-color: rgb(223, 120, 175);
    margin-bottom: 10px;
    overflow: scroll;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

.rodape{
    position: fixed;
    bottom: 0;                               /*Fixa na parte de baixo*/
    left: 0;                                 /*Inicia no canto esquerdo*/
    width: 100%;                             /*Ocupa toda a largura da tela*/
    background-color: rgb(228, 156, 228);
    color: black;
    text-align: center;
    padding: 5px 0;
}

.tit{
    font-family: unset;
    color: cornsilk;
    text-align: center;
}

.line{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: blanchedalmond;
}

.princi{
    flex: 1;
    background-color: black;
}

.body{
    margin: 0; /*Remove margens padrão para evitar barras de rolagem indese*/
    padding: 0;
    box-sizing: border-bo;
}

.conteudo{
    height: 2000px; /*Exemplo de conteúdo grande para testar rolagem*/
    background-color: dimgrey;
}

#footer{
    font-family: unset;
}
